#heading {
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 7rem;
    max-height: fit-content;
    width: auto;
    margin: 0px;
}

#sub {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin: 0px;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    text-align: center;
    background-color: rgb(250, 227, 177);
}

#intlinkact {
    font-size: 2rem;
    color: inherit;
    font-family: 'Bebas Neue', cursive;
}

#intlinkmus {
    font-size: 2rem;
    color: inherit;
    font-family: 'Bebas Neue', cursive;
}

#picofJB {
    margin: 0 auto;
    display: block;
    border-radius: 40%;
    max-width: 100%;
    height: auto;
}

li {
    text-align: left;
}

#JB-acting-career {
    padding: 5px;
    border: 5px solid black;
    display: inline;
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
}
#info-acting {
    text-align: left;
}
#fun-facts-films {
    text-align: left;
}
#atari-ad {
    color: inherit;
}

#rottentomas {
    color: inherit;
}

#film-list {
    text-align: left;
}

#rotten-tomatoes {
    padding: 1px;
    border: 0px;
    margin: 0%
}

#JB-music-career {
    padding: 5px;
    border: 5px solid black;
    display: inline;
    font-size: x-large;
    font-family: 'Bebas Neue', cursive;
}
#info-music {
    text-align: left;
}

#KG {
    color: inherit;
}

#list-awards {
    text-align: left;
}

#topofpage {
    color: inherit;
}